

<h2 class="card-title">New Gallery</h2>
<div class="card-body">
  <%= form_with(model: gallery) do |form| %>
  <% if gallery.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(gallery.errors.count, "error") %> prohibited this gallery from being saved:</h2>
      <ul>
          <% gallery.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block"%>
    <%= form.text_field :name, placeholder: "Enter a Name", required: true %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description, placeholder: "Enter a short description", required: true %>
  </div>

  <div>
    <%= form.label :hidden, style: "display: block" %>
    <%= form.checkbox :hidden %>
    <p>Want to keep your gallery private? Check this box!</p>
  </div>

  <%= form.hidden_field :user_id, value: current_user.id %>

  <div>
    <%= form.submit %>
  </div>
    <% end %>
  </div>
</div>