<div id="<%= dom_id gallery %>">

  <p>
    <strong>Name:</strong>
    <%= gallery.name %>
  </p>

  <p>
    <strong>Hidden:</strong>
    <%= gallery.hidden %>
  </p>

  <p>
    <% @gallery_photos.each do |photo| %>
      <button type="button" class="full-image-display" data-bs-toggle="modal" data-bs-target="#display-image" data-image-url="<%= url_for(photo.image) %>" data-image-alt="<%= photo.alt_text %>">
        <%= image_tag photo.image.variant(resize_to_limit: [100, 100]).processed, alt: photo.alt_text %>
      </button>
    <% end %>
    
  </p>

  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#photo-form">Upload a photo</button>
</div>
  
<div class="modal fade" id="photo-form" tabindex=-1>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title">Upload a photo</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render "photos/form", photo: @photo, gallery: @gallery %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="display-image" tabindex=-1>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div id="title" class="modal-title">
          <!-- Alt text here-->
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id= "url-marker" class="modal-body d-flex justify-content-center">
        <!-- Dynamic Content here -->
      </div>
    </div>
  </div>
</div>


